hibernate.cfg.xml
context.xml
hibernate.cfg.xml
users/Kevin/ois-dqa/core/branches/MN_v1.08/src/main/resources/hibernate.cfg.xml
users/Kevin/ois-dqa/core/branches/MN_v1.08/src/main/resources/hibernate.cfg.xml
