body {font-family: Tahoma, Geneva, sans-serif; background:#FFFFFF; margin: 0px; padding: 0px; margin-bottom: 20px; }



.menu { 
	padding-left: 7px;
	padding-right: 2px;
	padding-top: 2px;
padding-bottom: 2px;
	border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: #051838;
	background-color: #051838;
	color: #FFE1AA;
}

.likethisblue
{
	color:  #051838;
}

.codeStatusLabel
{
	font-size: x-small;
	text-transform: lowercase;
	color: #051838;
	float: right; 
	background-color: #FFFFFF;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 1px;
	padding-top: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #553700;
}

.issueCountLabel
{
	font-size: x-small;
	text-transform: lowercase;
	color: #051838;
	float: right; 
	background-color: #FFE1AA;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 1px;
	padding-top: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #553700;
	margin-left: 3px;
}

.inclusionStatusLabel
{
	font-size: x-small;
	text-transform: lowercase;
	color: #FFFFFF;
	font-weight: bold;
	float: right; 
	background-color: #FF0000;
	padding-right: 2px;
	padding-left: 2px;
	padding-bottom: 1px;
	padding-top: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #333333;
}

.formButtonFloat
{
	float: right;
}

.userCommentHeader
{
	display:block;
	font-size: smaller;
	margin-bottom: 3px;
}

.hiddenArea
{
	display:none;
}

.userCommentDate
{
	font-size: x-small;
	float: right; 
	padding-left: 2px;
	padding-bottom: 1px;
	margin-left: 3px;
}


a:link.menuLink {text-decoration:none; color: #FFE1AA; }
a:visited.menuLink {text-decoration:none; color: #FFE1AA; }
a:hover.menuLink {text-decoration:none; color: black; background-color: #FFE1AA;}
a:active.menuLink {text-decoration:none; color: #FFE1AA; }

.strike 
{
	text-decoration: line-through;
}
.appTitle {
	float: right; 
	width: 400px;  
	text-align: right; 
	padding-right: 5px;
}
.logo {
	padding-right: 5px; 
	font-size: larger;
	font-weight: bolder;
}

.contents {  
	postion: relative;
	width: 1430px; 
	margin: 5px; 
	padding: 5px; 
}

.leftColumn {
	float:left;
	width: 360px;
	margin-bottom: 30px; 
	overflow: auto;
 }
 
 pre {
   width: 100%;
   overflow-x: auto;
 }
 
.topBox 
{
	width: 100%;
	height: 170px;
	overflow: auto;
	margin-bottom: 5px;
}
 
.centerColumn {
	float:left;
    width: 520px;
    margin-left: 15px; 
    margin-bottom: 30px;
    overflow: auto;
}

.rightColumn {
	float: left;
    width: 520px;
    margin-left: 15px; 
    margin-bottom: 30px;
    overflow: auto;
}

.rightFullColumn {
	float: left;
    width: 1040px;
    margin-left: 15px; 
    margin-bottom: 30px;
    overflow: auto;
}

.cmVersion {
	position: fixed;
	bottom: 0;
	right: 0;
	color: #3300FF;
	border-width: 1px;
	border-color: #3300FF;
	border-top-style: solid;
	border-left-style: solid;
	padding: 2px;
    background-color: #FFFFCC;
    font-size: small;
}

caption {
	background-color: #33CCFF;
	
}
h1 {color: #152C55; margin-top: 8px; }
h2 {color: #152C55; margin-top: 8px; }
h3 {color: #152C55; margin-top: 8px; }
p {color:#051838; }



a:link {text-decoration:none; color: #051838; }
a:visited {text-decoration:none; color: #051838; }
a:hover {text-decoration:none; color: black; background-color: #FFE1AA;}
a:active {text-decoration:none; color: #051838; }


.sideMenu {float: left; border-width: 1px; border-style: solid; border-color: black; margin: 2px;}

.todo { margin: 50px; 5px; 5px; 5px; padding: 10px; width: 500px; border-width: 2px; border-style: dashed; background-color: #EEEEEE ; font-size: smaller; color: #333333;}

.selected {background-color: #7788AA;}

a:link.fauxbutton {text-decoration:none; margin: 3px; padding:0px 2px 0px 2px; border-width: 2px; border-style: outset; border-color: black; font-size: smaller; background: #eee; color: #666; font-variant: small-caps;}
a:visited.fauxbutton {text-decoration:none; margin: 3px; padding:0px 2px 0px 2px; border-width: 2px; border-style: outset; border-color: black; font-size: smaller; background: #eee; color: #666; font-variant: small-caps;}
a:hover.fauxbutton {text-decoration:none; margin: 3px; padding:0px 2px 0px 2px; border-width: 2px; border-style: outset; border-color: black; font-size: smaller; background: #051838; color: #FFF; font-variant: small-caps;}
a:active.fauxbutton {text-decoration:none; margin: 3px; padding:0px 2px 0px 2px; border-width: 2px; border-style: outset; border-color: black; font-size: smaller; background: #eee; color: #666; font-variant: small-caps;}


.messageConfirmation
{
	color: blue;
	padding-left: 7px;
	width: 100%;
	background-color: #FFE1AA;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #051838;
}

.messageError
{
	padding-left: 20px;
	width: 100%;
	color: red;
	background-color: #FFE1AA;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #051838;
}

table {
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
	border-color: #553700;
}
caption {
	border-width: 1px;
	border-style: solid;
	border-color: #061739;
	background-color: #152B55;
	color: #D4B06A;	
}
th {
	background-color: #2D4471;
	color: #D4B06A;	
	text-align: left; 
	padding-left: 4px; 
	padding-right: 8px; 
	padding-bottom: 3px; 
	padding-top: 3px; 
	border-width: 1px; 
	border-style: solid; 
	border-color: #061739;
	font-size: smaller;
}
td {
	background-color: #F0F0F0;
	padding: 2px; 
	padding-left: 4px; 
	padding-right: 4px; 
	padding-bottom: 3px; 
	padding-top: 3px; 
	border-width: 1px; 
	border-style: solid; 
	border-color: #061739; 
	color: #000;
}

.pass {background:#54A759; padding-left:5px; border-width: 1px; border-style: solid; padding-left: 4px; padding-right: 4px; }
.fail {background:#D46D6A; padding-left:5px; border-width: 1px; border-style: solid; padding-left: 4px; padding-right: 4px; }

.map {
  background-color: #F0F0F0;
  width: 100px;
  height: 100px;
  vertical-align: top;
  text-align: center;
  border-width: 1px;
  border-style: solid;  
  border-color: #061739; 
}

.mapPass {
  background:#54A759; 
  width: 100px;
  height: 100px;
  vertical-align: top;
  text-align: center;
  border-width: 1px;
  border-style: solid;  
  border-color: #061739;
}

.mapFail {
  background:#D46D6A; 
  width: 100px;
  height: 100px;
  vertical-align: top;
  text-align: center;
  border-width: 1px;
  border-style: solid;  
  border-color: #061739; 
}

.mapEmpty {
  background-color: #FFFFFF;
  width: 100px;
  height: 100px;
  vertical-align: top;
  text-align: center;
  border-width: 1px;
  border-style: none;  
  border-color: #061739; 
}

a:link.hl7 {    background: #eeeeee; text-decoration:none;  border-style: solid; border-color: #F7F3E8; border-width: 1px; color: #000;}
a:visited.hl7 { background: #eeeeee; text-decoration:none;  border-style: solid; border-color: #F7F3E8; border-width: 1px; color: #000;}
a:hover.hl7 {   background: #77BED2; text-decoration:none;  border-style: solid; border-color: #2B3E42; border-width: 1px; color: #2B3E42;}
a:active.hl7 {  background: #eeeeee; text-decoration:none;  border-style: solid; border-color: #F7F3E8; border-width: 1px; color: #000;}



h1.pentagon {color: #9b0d28; margin-top: 8px; text-align: center;  }
h2.pentagon {color: #9b0d28; margin-top: 8px; text-align: center;  border-color: #9b0d28; border-bottom-width: 3px; border-bottom-style: solid;}
h3.pentagon {color: #9b0d28; margin-top: 8px; padding-left: 4px; text-align: left;  border-color: #9b0d28; border-bottom-width: 2px; border-bottom-style: solid;}
h4.pentagon {color: #9b0d28; margin-top: 4px; padding-left: 4px; text-align: left;  border-bottom-style: none;}

a:link.pentagon {text-decoration:none;  }
a:visited.pentagon {text-decoration:none;  }
a:hover.pentagon {text-decoration:none; }
a:active.pentagon {text-decoration:none;  }


p.pentagon {color:#9b0d28; font-size: 10pt; margin-right: 5px; margin-left: 5px;}

ul.pentagon {color:#9b0d28; font-size: 10pt; }
li.pentagon {color:#9b0d28; font-size: 10pt; }

ol.pentagon {color:#9b0d28; font-size: 10pt; }

a.pentagonTestMessageFail {
	border-color: black;
	border-width: 0px;
	border-style: none;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 10pt;
	margin: 0px;
	color: #9b0d28;
	font-weight: normal;
	background-color: #eeeeee;
}

a:link.pentagonTestMessageFail {
	border-color: black;
	border-width: 0px;
	border-style: none;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 10pt;
	margin: 0px;
	color: #9b0d28;
	font-weight: normal;
	background-color: #eeeeee;
}

a:link.pentagonTestMessagePass {
	border-color: black;
	border-width: 0px;
	border-style: none;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 10pt;
	margin: 0px;
	color: #9b0d28;
	font-weight: normal;
	background-color: #eeeeee;
}


a:visited.pentagonTestMessageFail {
	border-color: black;
	border-width: 0px;
	border-style: none;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 10pt;
	margin: 0px;
	color: #9b0d28;
	font-weight: bold;
	background-color: #eeeeee;
}

a:visited.pentagonTestMessagePass {
	border-color: black;
	border-width: 0px;
	border-style: none;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 10pt;
	margin: 0px;
	color: #9b0d28;
	font-weight: bold;
	background-color: #eeeeee;
}


a:hover.pentagonTestMessageFail {
	border-color: black;
	border-width: 0px;
	border-style: none;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 10pt;
	margin: 0px;
	color: #000000;
	font-weight: normal;
	background-color: #eeeeee;
}

a:hover.pentagonTestMessagePass {
	border-color: black;
	border-width: 0px;
	border-style: none;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 10pt;
	margin: 0px;
	color: #000000;
	font-weight: normal;
	background-color: #eeeeee;
}



a:active.pentagonTestMessageFail {
	border-color: black;
	border-width: 0px;
	border-style: none;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 10pt;
	margin: 0px;
	color: #9b0d28;
	font-weight: normal;
	background-color: #eeeeee;
}

a:active.pentagonTestMessagePass {
	border-color: black;
	border-width: 0px;
	border-style: none;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 10pt;
	margin: 0px;
	color: #9b0d28;
	font-weight: normal;
	background-color: #eeeeee;
}

a:link.pentagonTestMessageSaved {
	border-color: black;
	border-width: 1px;
	border-style:inset;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 10pt;
	margin: 2px;
	color: #9b0d28;
	font-weight: bold;
	background-color: #00624f;
}

a:visited.pentagonTestMessageSaved {
	border-color: black;
	border-width: 1px;
	border-style:inset;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 10pt;
	margin: 2px;
	color: #9b0d28;
	font-weight: bold;
	background-color: #00624f;
}

a:hover.pentagonTestMessageSaved {
	border-color: black;
	border-width: 1px;
	border-style:inset;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 10pt;
	margin: 2px;
	color: #9b0d28;
	font-weight: bold;
	background-color: #00624f;
}

a:active.pentagonTestMessageSaved {
	border-color: black;
	border-width: 1px;
	border-style:inset;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 10pt;
	margin: 2px;
	color: #9b0d28;
	font-weight: bold;
	background-color: #00624f;
}




pre.pentagon {
   margin-left: 5px;
   margin-right: 5px;
   font-size: 11px;
   width: 100%;
   overflow: auto;
   overflow-y: hidden;
 }
 
table.pentagon {
	border-color: #9b0d28;
	margin-left: 5px;
	margin-right: 5px;
}

th.pentagon {
	border-color: #9b0d28;
	font-size: 10pt; 
    background-color: #9b0d28;
    color: #FFFFFF;
}

td.pentagon {
    	border-color: #9b0d28;
    font-size: 10pt; 
    color: #9b0d28;
}

td.pentagonPass {
    	border-color: #9b0d28;
    font-size: 10pt; 
    color: #9b0d28;
}

td.pentagonFail {
    	border-color: #9b0d28;
    font-size: 10pt; 
    color: #9b0d28;
}

td.pentagonSelected {
    border-color: #9b0d28;
    font-size: 10pt; 
    color: #9b0d28;
    background-color: #FFE1AA;
}



a:link.pentagonMenuLink {text-decoration:none; color: #9b0d28; border-width: 1px; border-style: solid; border-color: #eeeeee; padding-left: 5px; padding-right: 5px;}
a:visited.pentagonMenuLink {text-decoration:none; color: #9b0d28; border-width: 1px; border-style: solid; border-color: #eeeeee; padding-left: 5px; padding-right: 5px;}
a:hover.pentagonMenuLink {text-decoration:none; color: black; border-width: 1px; border-style: solid; border-color: #9b0d28; padding-left: 5px; padding-right: 5px; background-color: #FFE1AA;}
a:active.pentagonMenuLink {text-decoration:none; color: #9b0d28;  border-width: 1px; border-style: solid; border-color: #eeeeee; padding-left: 5px; padding-right: 5px; }

a:link.pentagonMenuLinkUnselected {text-decoration:none; color: #9b0d28; border-width: 1px; border-style: solid; border-color: #eeeeee; padding-left: 5px; padding-right: 5px;}
a:visited.pentagonMenuLinkUnselected {text-decoration:none; color: #9b0d28; border-width: 1px; border-style: solid; border-color: #eeeeee; padding-left: 5px; padding-right: 5px;}
a:hover.pentagonMenuLinkUnselected {text-decoration:none; color: black; border-width: 1px; border-style: solid; border-color: #9b0d28; padding-left: 5px; padding-right: 5px; background-color: #FFE1AA;}
a:active.pentagonMenuLinkUnselected {text-decoration:none; color: #9b0d28;  border-width: 1px; border-style: solid; border-color: #eeeeee; padding-left: 5px; padding-right: 5px; }



table.guideContents {  
	background-color: #C0C0C0;
}

table.guide {
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
	border-color: #553700;
}
caption.guide {
	border-width: 1px;
	border-style: solid;
	border-color: #061739;
	background-color: #152B55;
	color: #E0E0E0;	
}
th.guide {
	background-color: #2D4471;
	color: #E0E0E0;	
	text-align: left; 
	padding-left: 4px; 
	padding-right: 8px; 
	padding-bottom: 3px; 
	padding-top: 3px; 
	border-width: 1px; 
	border-style: solid; 
	border-color: #061739;
	font-size: smaller;
}
td.guide {
	background-color: #B0B0B0;
	padding: 2px; 
	padding-left: 4px; 
	padding-right: 4px; 
	padding-bottom: 3px; 
	padding-top: 3px; 
	border-width: 1px; 
	border-style: solid; 
	border-color: #061739; 
	color: #000;
}
